.ui-r-view{
  margin: 10px;
  height: 98%;
  overflow: hidden;
  max-height: 90%;
}
.ui-btns{
  margin-top: 20px;
  display: flex;
}
.ui-table{
  margin-top: 20px;
}
.ui-form{
  margin-top: 20px;
}
.ui-btns-form{
  margin-top: 10px;
  display: flex;
}
.ui-left{
  margin-left: 10px;
}